projects/TropixJobQueue/archive/jobQueueTicket.xsd

<?xml version="1.0"?>
<xs:schema targetNamespace="http://msi.umn.edu/tropix/proteomics/queue/ticket"
	   elementFormDefault="qualified"
	   xmlns:xs="http://www.w3.org/2001/XMLSchema"
	   xmlns="http://msi.umn.edu/tropix/proteomics/queue/ticket" >

  <xs:element name="ticket" type="Ticket" />

  <xs:complexType name="Ticket">
    <xs:attribute name="value" type="xs:string" />
  </xs:complexType>

</xs:schema>
